/* Details Post */
body {
  background-color: #e6ffeb;
}

.site-main {
  margin-top: 170px !important;
  min-height: 550px !important;
}

.post .entry-title {
  text-align: center;
}

.comment-respond {
  display: none;
}

.woocommerce-breadcrumb,
.woocommerce-products-header,
.woocommerce-result-count,
.woocommerce-ordering {
  display: none !important;
}

ul li.product_cat-duoc-lieu {
  background: transparent !important;
  box-shadow: none !important;
  text-align: center;
  font-size: 20px;
}

.woocommerce ul.products li.product_cat-duoc-lieu a {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #373434;
  font-weight: bold;
}

.woocommerce ul.products li.product_cat-duoc-lieu .button {
  display: none;
}

ul li.product_cat-duoc-lieu img {
  border-radius: 15px;
  width: 150px !important;
  height: 150px !important;
}

.page-content .post a {
  display: flex;
  justify-content: center;
}

.page-content .post a img {
  width: 50% !important;
}

/* Tab dược liệu */
/* Detail product */
.product_cat-san-pham,
.product_cat-duoc-lieu {
  padding: 30px 30px 0 30px;
  border-radius: 30px !important;
  margin-bottom: 40px !important;
}

.product_cat-duoc-lieu .woocommerce-product-gallery {
  width: 45% !important;
}

.product_cat-duoc-lieu .flex-active-slide {
  height: 400px;
}

.product_cat-duoc-lieu .flex-active-slide img {
  width: 100% !important;
  height: 400px !important;
  min-height: 400px;
  border-radius: 15px;
}

.product_cat-duoc-lieu .flex-control-thumbs {
  margin: 20px 0 30px 0 !important;
  display: flex;
  justify-content: space-between;
}

.product_cat-duoc-lieu .flex-control-thumbs li {
  width: 32% !important;
}
.product_cat-duoc-lieu .flex-control-thumbs img {
  border-radius: 15px;
  height: 150px !important;
}

.flex-direction-nav {
  display: none;
}

.woocommerce div.product div.images .flex-control-thumbs li img {
  opacity: 1 !important;
}

.product_cat-duoc-lieu .tabs.wc-tabs {
  display: none;
}

.product_cat-duoc-lieu #tab-description h2 {
  display: none;
}

.product_cat-duoc-lieu #tab-description p {
  position: absolute;
  top: 80px;
  width: 46%;
  text-align: justify;
  right: 30px;
  color: #373434;
}

/* tab sản phẩm */
.product-item .product_cat-san-pham.wpr-grid-item:nth-child(odd) .wpr-grid-item-inner {
  flex-direction: row-reverse;
}

.product-item .product_cat-san-pham.wpr-grid-item:nth-child(odd) .wpr-grid-item-inner .wpr-grid-image-wrap {
  display: flex;
  justify-content: flex-end;
}

.product_cat-san-pham {
  padding: 30px 30px 0 30px;
  border-radius: 30px;
  margin-bottom: 40px !important;
}

.product_cat-san-pham .woocommerce-product-gallery {
  width: 45% !important;
}

.product_cat-san-pham .flex-active-slide {
  height: 400px;
}

.product_cat-san-pham .flex-active-slide img {
  width: 100% !important;
  height: 400px !important;
  min-height: 400px;
  border-radius: 15px;
}

.product_cat-san-pham .flex-control-thumbs {
  margin: 20px 0 30px 0 !important;
  display: flex;
  justify-content: space-between;
}

.product_cat-san-pham .flex-control-thumbs li {
  width: 32% !important;
}
.product_cat-san-pham .flex-control-thumbs img {
  border-radius: 15px;
  height: 150px !important;
}

.woocommerce div.product div.images .flex-control-thumbs li img {
  opacity: 1 !important;
}

.product_cat-san-pham .tabs.wc-tabs {
  display: none;
}

.product_cat-san-pham #tab-description h2 {
  display: none;
}

.product_cat-san-pham #tab-description p {
  position: absolute;
  top: 80px;
  width: 46%;
  text-align: justify;
  right: 30px;
  color: #373434;
}

.product_cat-duoc-lieu.has-post-thumbnail,
.product_cat-san-pham.has-post-thumbnail {
  background-color: #caf0c0;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* Pagination */
.wpr-grid-pagination .wpr-next-page i {
  padding-left: 0 !important;
}

.wpr-grid-pagination .wpr-prev-page i {
  padding-right: 0 !important;
}

.wpr-grid-pagination a {
  width: 40px;
  height: 40px !important;
}

.banner .elementor-image-carousel-wrapper .elementor-swiper-button i {
  padding: 8px;
  border: 3px solid #5f9d4b;
  border-radius: 50%;
}

.wpcf7-response-output {
  border: none !important;
}

/* Responsive */
/* Mobile */
@media (max-width: 767px) {
  /* banner */
  .banner img,
  .banner-single img {
    height: 300px;
    min-height: 300px;
    max-height: 300px;
  }

  .news .wpr-grid-item-inner {
    display: block;
  }

  .news .wpr-grid-image-wrap {
    display: flex;
    justify-content: center;
  }

  .header .nav-menu {
    transform: translateY(25%);
  }

  .header .col-header-search {
    z-index: -1 !important;
  }

  /* Dược liệu */
  .product-medicine {
    margin-left: 0 !important;
  }

  .elementor-20 .elementor-element.elementor-element-3aa2576.product-medicine .wpr-grid-item {
    width: 40% !important;
    margin-left: 20px;
  }

  .search-medicine .woocommerce-product-search input {
    width: 100% !important;
  }

  .search-medicine .woocommerce-product-search button {
    right: 0 !important;
  }

  /* product */
  .product-item .product_cat-san-pham .wpr-grid-item-inner {
    display: block !important;
    padding: 20px;
  }

  .product-item .product_cat-san-pham .wpr-grid-media-wrap {
    width: 100%;
  }

  .product-item .product_cat-san-pham .wpr-grid-media-wrap .wpr-grid-image-wrap {
    display: flex;
    justify-content: center !important;
  }

  /* contact */

  .contact-form-input {
    width: 100% !important;
    max-width: 100% !important;
  }

  .contact-form-input .elementor-widget-container {
    padding: 12px !important;
  }

  .contact-form-input label {
    display: block;
  }

  .contact-form-input label input {
    margin: 12px 0;
  }

  .contact-form-input textarea {
    margin: 12px 0;
    width: 100% !important;
  }

  .map-address iframe {
    height: 300px;
  }

  .map-address .elementor-element-populated {
    padding: 20px 0 !important;
  }

  /*  */
  .product_cat-san-pham,
  .product_cat-duoc-lieu {
    padding: 10px;
  }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1024px) {
  .product-item .product_cat-san-pham .wpr-grid-media-wrap img {
    min-height: 250px;
    height: 250px;
  }

  .header .nav-menu {
    position: absolute;
    right: 0;
  }

  .col-header-search .elementor-column > .elementor-widget-wrap {
    display: flex;
    justify-content: flex-end !important;
  }
}

/* Tablet and Mobile */
@media (max-width: 1024px) {
  .header .wpr-mobile-nav-menu {
    margin-top: 20px !important;
  }

  .elementor:not(.elementor-bc-flex-widget) .elementor-widget-wrap {
    justify-content: center !important;
  }

  .contact-address-item {
    padding: 0 !important;
  }

  /* details */
  .product_cat-san-pham .woocommerce-product-gallery,
  .product_cat-duoc-lieu .woocommerce-product-gallery {
    width: 100% !important;
    margin-bottom: 0 !important;
  }
  .product_cat-san-pham #tab-description p,
  .product_cat-duoc-lieu #tab-description p {
    position: relative;
    width: 100% !important;
    right: 0;
    top: 0;
  }

  .woocommerce div.product div.summary {
    width: 100%;
    text-align: center;
    margin-bottom: 0;
  }
}
